<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="./getNasaImage">Nasa</a></li>
        <li><a href="./chuckNorris">Chuck Norris</a></li>
         <li><a href="./harryPotter">Harry Potter</a></li>
    </ul>
</nav>