<nav class="navbar">
    <ul>
        <li><a class="nav-home" href="/">Home</a></li>
        <li><a class="nav-nasa" href="./getNasaImage">Nasa</a></li>
        <li><a class="nav-chucknorris" href="./chuckNorris">Chuck Norris</a></li>
        <li><a class="nav-harrypotter" href="./harryPotter">Harry Potter</a></li>
        <li><a class="nav-cocktailinfo" href="./cocktailInfo">Cocktail Info</a></li>
    </ul>
</nav>