
<div class="chucknorris-container">

<div class="chucknorris-content">
    <div class="main">
        <h1 class="chucknorris-header">CHUCK NORRIS JOKE</h1>
        <div class="chucknorris-joke">{{joke}}</div>
    </div>
    <div class="image">
        <img src="https://chucknorris.com/wp-content/themes/chuck-norris/img/yellowchuck-right.png">
    </div>
</div>
</div>