{{title}}

<form action='/cocktailInfo' method="POST">
    <label for="search">Search cocktail : </label>
    <input type="text" name="search cocktail">
    <br>
    <input type="submit" value="send">
</form>