


<div class="cocktailInfo__container">
    <div class="cocktailInfo__content">
        <header class="cocktailInfo__header">Search for a cocktail</header>
        <div class="cocktailInfo__userinput">
            <form action='/cocktailInfo' method="POST">
                <label for="ingredient"></label>
                <input class="cocktailInfo__input" type="text" name="ingredient" placeholder="Enter ingredient...">
                <br>
                <div class="cocktailInfo__button"><input class="cocktailInfo__submit" type="submit" value="SUBMIT"></div>
            </form>
        </div>
        <ul class="cocktailInfo__list">
            {{#each drinks}} 
                <li>
                    <p class="cocktailInfo__text">{{this.strDrink}}</p>
                    <img class="cocktailInfo__image" src={{this.strDrinkThumb}} alt="cocktail image">
                </li>
            {{/each}}  
        </ul>
    </div>
</div>