<h1>Weather data</h1>


<ul>
 {{!-- {{#each weatherData}} - is a loop  --}}
 {{#each weatherData}} 
 <li>{{@key}} : {{this}}</li>
{{/each}}  
</ul>

<img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="weather icon">

<form action='/' method="POST">
    <label for="city">City : </label>
    <input type="text" name="city">
    <label for="countyCode">Country code</label>
    <input type="text" name="countryCode">
    <br>
    <input type="submit" value="send">
</form>