@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Poiret+One&display=swap');

.navbar{
    background-color: #41B3A3;
    display: flex;
}


.getweather-container {
    margin-top: 50px;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.getweather-content {
    background-color: #58bac9;
    padding:50px;
    align-items: center;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar ul li {
    list-style: none;
    cursor: pointer;

}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Amatic SC";
    font-size: 40px;
    justify-content: center;
}

.navbar a:hover {
    color: #c38d9e;
}

.home-header {
    font-family: "arial";
    color:white;
    font-size:40px;
}

.home-template {
    width: 800px;
    height: 800px;
    text-align: center;
    margin-left:100px;
    background-color: #58bac9;
}

/* .submit-button {
    background-color: #f81d41;
    border-radius: 4px;
    border-color: #f81d41;
    color: #d0ebef;
    padding:2px;
    font-size:20px;
    height:50px;
    margin-top: 20px;
} */

/* .form-countrycode {
    font-family: "arial";
    color:#d0ebef;
    font-size:25px;
    margin-top: 20px;
} */

/* input {
    background-color: #58bac9;
    height:25px;
    width:200px;
    border: 0;
    border-bottom: 1px solid #d0ebef;
} */

.form-city {
    font-family: "arial";
    color: #d0ebef;
    font-size:25px;
}


.home-city::placeholder {
    font-family: "arial";
    color:#d0ebef;
    font-size:20px;
}

.home-countrycode::placeholder {
    font-family: "arial";
    color:#d0ebef;
    font-size:20px;
}

.chucknorris-content {
    margin-left: auto;
    margin-right:auto; 
    background-color: black;
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:75%;
}
     
.chucknorris-joke {
    font-family: 'Inconsolata', monospace;
    color:white;
    font-size:30px;
    margin:0;
}

.chucknorris-joke::before {
    content: open-quote;
}

.chucknorris-joke::after {
    content: close-quote;
}


.chucknorris-header {
    font-family: 'Poppins', sans-serif;
    color:#d62e1c;
    font-size: 80px;
}

.chucknorris-container {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nasaimage-container {
    margin-top: 50px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1542228846-2d791a09d7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.nasaimage-header {
    color:white;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.nasaimage {
    padding:25px;
    width:50%;
    background-color: #292e33;
}

.nasaimage-headline{
    display: flex;
    justify-content: space-between;
}
.nasaimage-theme {
    color:white;
}

.nasaimage-theme.nasaimage-font {
    font-family: 'Titillium Web', sans-serif;
}

.nasaimage-url {
    height:480px;
    width: 439px;
    text-align: center;
}

.nasaimage-pictureofday {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.nasaimage-picture {
    height:150px;
    width: 150px;
}

.harryPotter-container {
    margin-top: 50px;
    height:100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}

.harryPotter-content {
    width:50%;
    height:500px;
}

.harryPotter-header {
    margin:auto;
    font-family: 'Henny Penny', cursive;
    font-size: 70px;
    text-align: center;
}

.harryPotter-house {
    width:180px;
    height:260px;
}

.harryPotter-text {
    font-family: 'Henny Penny', cursive;
    text-align: center;
    font-size: 30px;

}

.harryPotter-images {
    margin-top:50px;
    padding-bottom:50px;
    display: flex;
    justify-content: center;
    /* space-between needs adding */
}

.harryPotter-sorting {
    display: flex;
    justify-content: center;
    align-items: center;
}
.harryPotter-sortinghat {
    /* text-align: center; */
}

.cocktailInfo__header {
    font-family: 'Poiret One', cursive;
    font-size:50px;
    text-align: center;
    font-weight: bolder;
}

.cocktailInfo__container {
    margin-top: 50px;
    height:100vh;
    display: flex;
    justify-content: center;
}

.cocktailInfo__content {
    height:500px;  
    padding:50px;
    align-items: center;
}

.cocktailInfo__userinput {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.cocktailInfo__text {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

.cocktailInfo__image {
    width: 300px;
    height: 300px;
    text-align: center;
}

.cocktailInfo__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.cocktailInfo__list li {
    flex: 0 0 25%;
}

.cocktailInfo__input {
    height: 30px;
    width:300px;
    font-family:'Poiret One', cursive;
    margin-bottom:20px;
}

.cocktailInfo__input::placeholder {
    font-size:25px;
}

.cocktailInfo__submit {
    font-size:25px;
    cursor: pointer;
    background-color: #d1a899;
    border-radius:5px;
}

.cocktailInfo__button {
    text-align: center;
}

/* html {
    background-color: #faf9f7;
} */